<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><%= link_to('Tradr', root_path) %></h1>
    </li>
  </ul>

  <section class="top-bar-section">


    <ul class="right">
      <li class="divider"></li>

      <li class="active"><%= link_to('Show all users', users_path) %></li>
      <li class="active"><%= link_to('Show stocks', stocks_path) %></li>
      <li class="divider"></li>
      <li><%= intellinav %></li>
      <li class="divider"></li>
    </ul>

  </section>

</nav>