.spacer{
  height: 50px;
}
.float{
  float: left;
  margin: 5px;
}

.smallmargin{
  margin-left: 10px;
  margin-right: 20px;
}

#chart{
  height: 400px;
  width: 700px;
}
.textright{
  text-align: right;
}