<a href='/'>Home</a>

<%= link_to('Home', '/') %>
<br>
<a href="/text">text</a>
<br>
<a href="/text">text</a>
<br>
<a href="/text">text</a>
<br>
<%= link_to('Text', text_path) %>
<br>
<%= button_to('Test', '/test') %>
