<footer class="row">
  <div class="large-12 columns">
    <hr />
    <div class="row">

      <div class="large-6 columns">
        <p>&copy; 2013 Ron Jones</p>
      </div>

    </div>
  </div>
</footer>


