<div class='bigbox'>
<h1 class='medium'>Ask Bud about a stock:</h1>
<form action='/calc' method='get'>
      <input type='text' name='stock_name' autofocus>
      <button><span class='small'>ask bud</span></button>
</form>
</div>
