<div class='bigbox'>
  <h1 class='medium'>FAQ:</h1>
  <br>
  <p class='small'>
    While the name may be recent, the FAQ format itself is quite old. For instance, Matthew Hopkins wrote The Discovery of Witches in 1647 as a list of questions and answers, introduced as "Certaine Queries answered". Many old catechisms are in a question-and-answer (Q&A) format. Summa Theologica, written by Thomas Aquinas in the second half of the 13th century, is a series of common questions about Christianity to which he wrote a series of replies.
  </p>

  <p class='small'>
    The "FAQ" is an Internet textual tradition originating from the technical limitations of early mailing lists from NASA in the early 1980s. The first FAQ developed over several pre-Web years starting from 1982 when storage was expensive. On ARPAnet's SPACE mailing list, the presumption was that new users would download archived past messages through ftp. In practice, this rarely happened and the users tended to post questions to the mailing list instead of searching its archives. Repeating the "right" answers becomes tedious, and went against developing netiquette. A series of different measures were set up by loosely affiliated groups of computer system administrators, from regularly posted messages to netlib-like query email daemons. The acronym FAQ was developed between 1982-1985 by Eugene Miya of NASA for the SPACE mailing list.[2] The format was then picked up on other mailing lists and Usenet news groups. Posting frequency changed to monthly, and finally weekly and daily across a variety of mailing lists and newsgroups. The first person to post a weekly FAQ was Jef Poskanzer to the Usenet net.graphics/comp.graphics newsgroups. Eugene Miya experimented with the first daily FAQ.
  </p>

  <p class='small'>
    Meanwhile on Usenet, Mark Horton had started a series of "Periodic Posts" (PP) which attempted to answer trivial questions with appropriate answers. Periodic summary messages posted to Usenet newsgroups attempted to reduce the continual reposting of the same basic questions and associated wrong answers. On Usenet, posting questions which are covered in a group's FAQ came to be considered poor netiquette, as it showed that the poster has not done the expected background reading before asking others to provide answers. Some groups may have multiple FAQ on related topics, or even two or more competing FAQ explaining a topic from different points of view.
  </p>

  <p class='small'>
    Another factor on early ARPANET mailing lists was netiquette, wherein people asking questions typically "promised to 'summarize' received answers." These summaries were usually simple concatenations of received replies with little to no quality checking.
  </p>
</div>