

<form method='post' action='/planets'>
  What is the planet name?
  <input type='text' name='planet[name]' autofocus>
  <br>
  Image url:
  <input type='text' name='planet[image]'>
  <br>
  What is the orbit?
  <input type='float' name='planet[orbit]'>
  <br>
  What is the diameter?
  <input type='float' name='planet[diameter]'>
  <br>
  What is the mass?
  <input type='float' name='planet[mass]'>
  <br>
  How many moons?
  <input type='text' name='planet[moons]'>

  <button>Add Planet</button>
</form>