<li class="divider"></li>
<li class="active"><a href="/subscribers/new" data-remote="true">Register</a></li>
<li class="divider"></li>
<li><a href="/login" data-remote="true">Login</a></li>
<li class="divider"></li>
