<!DOCTYPE html>
<html>
<head>
  <title>R20130211Routing</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <ul>
      <li><a href='/a'>A</a></li>
      <li><a href='/b'>B</a></li>
      <li><a href='/c'>C</a></li>
    </ul>

    <form action='/door' method='get'>
      <input type='text' name='option'>
      <button>GET</button>
    </form>


<%= yield %>

</body>
</html>
