<% mixtape = @mixtape.name %>
<h3><%= mixtape %></h3>

<table>
  <% @mixtape.songs.order(:name).each do |song| %>
    <tr>
      <td><%= link_to(song.name, song_path(song)) %></td>
      <td><%= image_tag(song.image) %></td>
      <td><%= audio_tag(song.filename, :controls => true) %></td>
    </tr>
  <% end %>
</table>
