.photo{
  display: inline-block;
  margin: 10px;
}
img {
  border-left: 10px solid #eee;
  border-right: 10px solid #eee;
  border-top: 10px solid #eee;
  border-bottom: 70px solid #eee;
  box-shadow: 2px 2px 10px #555;
}

body{
  background-color: #555;
}
.subheader{
  color: white;
}