<!DOCTYPE html>
<html>
<head>
  <title>R20130211StockMovie</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Stint+Ultra+Expanded' rel='stylesheet' type='text/css'>
</head>
<body>
  <img alt="full screen background image" src="assets/sheen.jpg" id="full-screen-background-image" />

<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/faq">FAQ</a></li>
    <li><a href="/stocks">Stocks</a></li>
    <li><a href="/movies">Movies</a></li>
  </ul>

</nav>


<%= yield %>

</body>
</html>
