<div class='bigbox'>
  <h1 class='medium'>You see this movie Bud?</h1>
  <form action='/getmovie' method='get'>
        <input type='text' name='movie_name' autofocus>
        <button><span class='small'>get movie info</span></button>
  </form>
</div>